<div class="w-full px-12">
  <table>
    <thead>
      <tr>
        <th class="basis-1/12 justify-center">Status</th>
        <th class="basis-7/12 px-4">Task ({{ totalTaskCount }})</th>
        <th class="basis-2/12 justify-center">Date Created</th>
        <th class="basis-2/12 justify-center">More</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tasks$ | async as taskList">
        <tr *ngFor="let task of taskList">
          <!-- Status -->
          <td (click)="cycleStatus(task)" class="flex basis-1/12 items-start justify-center">
            <div *ngIf="task.status === 'open'" class="h-8 w-1 bg-red-500"></div>
            <div *ngIf="task.status === 'progress'" class="h-8 w-1 bg-violet-500"></div>
            <div *ngIf="task.status === 'complete'" class="h-8 w-1 bg-green-500"></div>
          </td>

          <!-- Task -->
          <td (dblclick)="onQuickEditTask(task)" class="flex basis-7/12 flex-col gap-2">
            <ng-container *ngIf="task.isEditing === true">
              <input type="text" name="task" [(ngModel)]="task.task" class="input" />
              <textarea name="description" cols="10" rows="4" [(ngModel)]="task.description"
                class="textarea"></textarea>
            </ng-container>

            <ng-container *ngIf="task.isEditing === false">
              <p class="text-xl font-medium">{{ task.task }}</p>
              <p class="text-sm">{{ task.description }}</p>
            </ng-container>
          </td>

          <!-- Date Created -->
          <td class="flex basis-2/12 items-center justify-center">{{ task.dateCreated }}</td>

          <!-- More Options -->
          <td class="relative flex basis-2/12 items-center justify-center">
            <button (click)="onToggleDropdownById(task.id)" class="pi pi-ellipsis-h text-xl"></button>

            <!-- Dropdown Menu -->
            <div *ngIf="openDropdownId === task.id"
              class="absolute left-10 top-16 z-[10] mt-2 w-48 rounded border bg-white shadow-lg">
              <ng-container *ngIf="task.isEditing === false">
                <div class="py-1">
                  <button (click)="onEditTask(task)"
                    class="flex w-full px-4 py-2 text-left text-gray-800 hover:bg-gray-200">Edit</button>
                  <button (click)="onDeleteTask(task.id)"
                    class="w-full px-4 py-2 text-left text-red-400 hover:bg-gray-200">Delete</button>
                </div>
              </ng-container>

              <ng-container *ngIf="task.isEditing === true">
                <div class="py-1">
                  <button class="flex w-full px-4 py-2 text-left text-gray-800 hover:bg-gray-200">Update</button>
                  <button (click)="onCancelEditing(task)"
                    class="w-full px-4 py-2 text-left text-red-400 hover:bg-gray-200">Cancel</button>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
