<div class="w-full px-12">
  <table>
    <thead>
      <tr>
        <th class="basis-1/12 justify-center">Status</th>
        <th class="basis-7/12 px-4">Task ({{ totalTaskCount }})</th>
        <th class="basis-2/12 justify-center">Date Created</th>
        <th class="basis-2/12 justify-center">Due Date</th>
        <th class="basis-2/12 justify-center">More</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tasks">
        <tr *ngFor="let task of tasks | filterStatus: selectedStatus">
          <!-- Status -->
          <td (click)="cycleStatus(task)" class="flex basis-1/12 cursor-pointer items-start justify-center">
            <div *ngIf="task.status === taskStatuses.open" class="h-8 w-1 bg-red-500"></div>
            <div *ngIf="task.status === taskStatuses.progress" class="h-8 w-1 bg-violet-500"></div>
            <div *ngIf="task.status === taskStatuses.complete" class="h-8 w-1 bg-green-500"></div>
          </td>

          <!-- Task -->
          <!-- FIX: Esc key -->
          <td (dblclick)="onEnableEditing(task)" class="flex basis-7/12 flex-col gap-2">
            <ng-container *ngIf="!task.isEditing">
              <p class="text-xl font-medium">{{ task.task }}</p>
              <p class="text-sm">{{ task.description }}</p>
            </ng-container>

            <ng-container *ngIf="task.isEditing">
              <input (keyup.enter)="onUpdate(task, task.id)" type="text" name="task" [(ngModel)]="task.task"
                class="input" />
              <textarea (keyup.enter)="onUpdate(task, task.id)" name="description" cols="10" rows="4"
                [(ngModel)]="task.description" class="textarea"></textarea>
            </ng-container>
          </td>

          <!-- Date Created -->
          <td class="flex basis-2/12 items-center justify-center">{{ task.dateCreated }}</td>

          <!-- Due Date -->
          <td class="flex basis-2/12 items-center justify-center">
            <p class="{{ currentDate > task.dueDate ? 'text-red-400' : '' }}">{{ task.dueDate }}</p>
          </td>

          <!-- More Options -->
          <td class="relative flex basis-2/12 items-center justify-center">
            <button (click)="onToggleDropdownById(task.id)" class="pi pi-ellipsis-h text-xl"></button>

            <!-- Dropdown Menu -->
            <div *ngIf="openDropdownId === task.id"
              class="absolute left-10 top-16 z-[10] mt-2 w-48 rounded border bg-white shadow-lg">
              <button (click)="!task.isEditing ? onEnableEditing(task) : onUpdate(task, task.id)"
                class="flex w-full px-4 py-2 text-left text-gray-800 hover:bg-gray-200">
                {{ !task.isEditing ? 'Edit' : 'Update' }}
              </button>

              <button (click)="!task.isEditing ? onDelete(task.id) : onCancel(task)"
                class="{{ task.isEditing ? 'text-gray-800' : 'text-red-400' }} flex w-full px-4 py-2 text-left text-gray-800 hover:bg-gray-200">
                {{ !task.isEditing ? 'Delete' : 'Cancel' }}
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
