<div class="w-full px-12">
  <table>
    <thead>
      <tr>
        <th class="basis-1/12 justify-center">Status</th>
        <th class="basis-1/2 px-4">Task</th>
        <th class="basis-4/12 justify-center">Date Created</th>
        <th class="basis-1/12 justify-center">More</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="flex basis-1/12 items-center justify-center">
          <div class="h-8 w-1 bg-violet-500"></div>
        </td>
        <td class="flex basis-1/2 flex-col gap-2">
          <p class="text-xl font-medium">This is where the Task Title will be inserted</p>
          <p class="text-sm">Task Description will be placed here in a smaller light weighted font</p>
        </td>
        <td class="flex basis-4/12 items-center justify-center">2024 August</td>
        <td class="pi pi-ellipsis-h flex basis-1/12 items-center justify-center text-xl"></td>
      </tr>

      <!-- 2nd Task example -->
      <tr>
        <td class="flex basis-1/12 items-center justify-center">
          <div class="h-8 w-1 bg-violet-500"></div>
        </td>
        <td class="flex basis-1/2 flex-col gap-2">
          <p class="text-xl font-medium">This is where the Task Title will be inserted</p>
          <p class="text-sm">Task Description will be placed here in a smaller light weighted font</p>
        </td>
        <td class="flex basis-4/12 items-center justify-center">2024 August</td>
        <td class="pi pi-ellipsis-h flex basis-1/12 items-center justify-center text-xl"></td>
      </tr>
    </tbody>
  </table>
</div>
